extends ../../layout
include ../../mixins/hi-user
include ../../mixins/paragraph
include ../../mixins/verification-code
include ../../mixins/ignore-if-not-you

block title
    | Password recovery request

block content
    +hiUser()
    +paragraph() Some information about your order may be posted here #[b #[+link('mailto:test.ua', '') test.ua]]
    +paragraph() Some information about your order may be posted here

    +paragraph()
        +verificationCode() 11111


    +ignoreIfNotYou()
