mixin button(href)
    span(style='display: block; text-align: center;')
        a(style='color: #ffffff;  display: inline-block; background-color: #4080b3; font-weight: 400; padding: 10px 65px; border: none; cursor: pointer;' href=href target='_blank')
            block
