include link

mixin footer()
    span(style='display: block; border-top: 1px solid #e2ebf3; padding:22px 5vw;')
        h1(style='font-weight: 400; font-size: 12px; line-height: 18px; color: #002f34; text-align: center; padding: 0; margin: 0;').
            For any questions please contact #[b #[+link('mailto:support@com.ua', 'black') support@com.ua]]
