mixin header()
    span(style='display: block; background: linear-gradient(to bottom left, #4080B3, #7D87AD);  padding: 30px 10%; text-align: center;')
        h1(style='font-weight: 600; font-size: 24px;line-height: 29px; color: #ffffff; text-align: center; padding: 0; margin: 0;')
            block
            div(style='width: 0; height: 0; margin-top: 15px;')
                div(style='width: 56px; height: 56px; border-radius: 50%; border: 1px solid white; background-color: #e2ebf3; display: block; margin: 0 0 0 -20px;')
                //img(src='https://gupsale.cf/assets/logo/logo.svg' alt='' width='56' height='56' style='display: block; margin: 0 0 0 -20px;')


