mixin orderInfo()
    table(style='width: 100%; border-bottom: 1px solid #E3E3E3')
        tbody
            tr
                td
                    span(style='display: block; color: #82999c; font-weight: 400;font-size: 14px; line-height: 18px; padding-bottom: 25px; text-align: left;') Cost of delivery

                td
                    span(style='display: block; color: #000000; font-weight: 600;font-size: 14px; line-height: 18px; padding-bottom: 25px; text-align: right;') 100 $
            tr
                td
                    span(style='display: block; color: #82999c; font-weight: 400;font-size: 14px; line-height: 18px; padding-bottom: 25px; text-align: left;') Total price

                td
                    span(style='display: block; color: #000000; font-weight: 600;font-size: 14px; line-height: 18px; padding-bottom: 25px; text-align: right;') 299 $
    table(style='width: 100%; padding: 25px 0 0;')
        tbody
            tr
                td
                    span(style='display: block; color: #82999C; font-weight: 400;font-size: 14px; line-height: 18px; padding-bottom: 25px; text-align: left;') Delivery
                td
                    span(style='display: block; color: #000000; font-weight: 400;font-size: 14px; line-height: 18px; padding-bottom: 25px; text-align: right;') Post office #[br] Kiev
            tr
                td
                    span(style='display: block; color: #82999c; font-weight: 400;font-size: 14px; line-height: 18px; padding-bottom: 25px; text-align: left;') Buyer
                td
                    span(style='display: block; color: #000000; font-weight: 400;font-size: 14px; line-height: 18px; padding-bottom: 25px; text-align: right;') Ivanov Ivan #[br] (0XX)XXX-XX-XX
