mixin orderHeading()
    table(style='width: 100%;')
        tbody
            tr
                td
                    span(style='display: block; color: #000000; font-weight: 600;font-size: 18px; line-height: 18px; padding-bottom: 25px; text-align: left;') Order № 1111
                td
                    span(style='display: block; color: #82999C; font-weight: 400;font-size: 14px; line-height: 18px; padding-bottom: 25px; text-align: right;') 12.12.2020
